h2,h4 {
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 10px;
}

.header {
	background-color: khaki;
	height: 60px;
}

.search > h4 {
	background-color: powderblue;
}
.search {
	border: 3px solid black;
	width: 40%;
	margin-top: 20px; 
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

form > *{
	display: block;
	margin-left: auto;
	margin-right: auto; 
	padding: 5px;
	margin-bottom: 5px;
}

form > label {
	margin-left: 45%;
}

body {
	background-color: #0eef8e;
}

