body {
	background-color: #1C1F1C;
	margin: 0;
	/*font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-family: 'Roboto', sans-serif;	*/
}

h2,h4 {
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 10px;

}
h4 {
	font-weight: 700;
}

.header {
	background-color:#009152 ;
	height: 60px;
}

.search > h4 {
	background-color: #1f89c1;
}

.search {
	border: 3px solid black;
	width: 350px;
	margin-top: 20px; 
	margin-left: auto;
	margin-right: auto;
	background-color: #92c8e5;
}

#form-header {
	padding: 30px;
	font-weight: 600;
	font-size: 110%;
	background-color: #92c8e5;
}

#border-bottom {
	border-bottom: 2.5px solid #1C3D69;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;
}

form {
	margin-top: 25px;
}

input {
	background-color: #C2FFF7;
	/*border: 1.6px solid #1C3D69;*/
	border : solid 2px rgba(28, 61, 105, 0.68);
}

form > *{
	display: block;
	margin-left: auto;
	margin-right: auto; 
	padding: 5px;
	margin-bottom: 5px;
	font-weight: 300;
}

form > p {
	text-align: center;
	margin: 2px;
}

#date-container {
	text-align: center;
}

#date-input{
	display: inline-block;
	text-align: center;
	margin:4px;
	width: 40px;
}

.footer {
	height: 25px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #009152;
}

.footer > p {
	font-size: 80%;
	text-align: center;
	margin: 0;
	margin-top: auto;
	margin-bottom: auto;
}

button {
	font-size: 75%;
	padding: 8px;
	background-color: rgba(0, 145, 82, 0.65);
	border: 2px solid #3678CF;
} 